# Godot 4+ specific ignores
.godot/
.sconsign*.dblite

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
/game/bin/*.lib
/game/bin/*.dll
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp
*.ilk